*{
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-target{
    
    width: fit-content;
    display:flex;
    box-shadow:0 10px 10px 0 gray;
    border-radius: 50px;
}
.asideUno {
    color:white;
    text-align: center;
    background-color:#674cec;
    height: 450px;
    width: 300px;
    padding: 25px 50px;
    border-radius: 50px;
}
.asideUno-result{
    font-size: large;
    color: #dad4d4;
}
.asideUno-note {
    margin: auto;
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 50%;
    background-color: cornflowerblue;
}
.asideUno-note h4{
    margin: 20px auto 0 auto;
    font-size: 50px;
}
.asideUno-note p {
    margin: 0;
    color: #dad4d4;
    font-size: small;
}
.asideUno-text{
    font-size: small;
}


.asideDos {
    width: 300px;
    height: 450px;
    padding: 25px;
    text-align: left;   
}
.asideDos-title{
    font-size: large;
    color:darkblue ;
}
.asideDos ul{
list-style:none;
padding: 0;
}
.asideDos li{
    font-size:14px;
    background-color: #ff55550f;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height:50px ;
    padding: 0 15px;
    align-items: center;
    border-radius: 10px;
    margin: 0 0 12px 0 ;
}
.asideDos div {
    display: flex;
}
.asideDos img{
    margin: 0 10px 0 0;

}
.asideDos span{
    font-weight: bold;
}
button {
    font-size: 16px;
    width: 100%;
    margin: 20px 0 0 0;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 23px;
}